.header {    
    height: 3.5rem;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 2;
    
    .site_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 2rem;
        max-width: 80rem;        
        margin: 0 auto;

        .home_link {              
            flex: 1;      
            font-size: 2rem;
            margin: 0;
            color: #f68a06;
            font-weight: 600;
        }

        .page_nav {
            flex: auto;            
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                height: 100%;
                position: relative;

                li {
                    min-width: 5rem;
                    height: 100%;
                    cursor: pointer;
                    border-bottom: 3px solid transparent;                    
                    transition: all .2s ease;       
                    color: #333;
                    font-size: .8rem;

                    &:hover {
                        border-bottom: 3px solid #f68a06;
                    }

                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    .link_icon {                        
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        align-items: center; 
                        justify-content: center;
                        font-size: .8rem;

                        svg {
                            width: 2rem;
                            height: 2rem;
                            color: #f68a06;
                        }
                    }       
                }
            }
        }

        .right_nav {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;            

            svg {
                width: 2rem;
                height: 2rem;
                color: #f68a06;
            }

            ul {
                display: flex;
                gap: 1rem;              
                li {
                    a {
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        font-size: .8rem;
                    }
                }  
            }
        }        
    }        
}