.container {
  padding: 0 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;    
    column-gap: 2rem;

    .main_sections {
        flex: 7.5;
    }
    .aside_banner {
        flex: 2.5;
        margin-top: 2rem;
        
        .side_ads_banner {    
            margin-bottom: 1rem;
        }
    }
}




@media (max-width: 600px) {

}
