.job_template {
    padding: 2rem;
    max-width: 90rem;        
    margin: 0 auto;

    .breadcrumb {
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
            
        }
    }

    .job_info {
        .job_heading {
            h1 {
                margin: 0;
            }
            .title_flex {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;
                
                .image_wrapper {                    
                    width: 5rem;
                    
                    span {
                        position: relative !important;
                        img {
                            position: relative !important;
                            width: 100% !important;
                            height: 100% !important;                            
                        }
                    }
                }
                
            }
        }
        
    }
}