.job_template {    
    max-width: 80rem;        
    margin: 0 auto;
    padding-top: 2rem;        

    .breadcrumb {
        padding: 0 2rem;
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
            
        }
    }   
    .job_section {
        margin: 0 2rem;        
        background-color: #fff;
    } 
}