.job_template {
    padding: 2rem;

    .breadcrumb {
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
            
        }
    }

    .job_info {
        
    }
}