.jobs_template {
    padding: .5rem 2rem 0;    
    max-width: 80rem;        
    margin: 0 auto;   
    height: calc(100vh - 4.5rem);
    overflow: hidden;     

    .search_and_post {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        .post_link_wrapper {            
            margin: .5rem 0 0;            
                 

            .link {
                display: inline-block;
                background: #fff;
                border: 1px solid #f68a06;
                border-radius: .2rem;
                padding: .5rem 1rem;
                color: #f68a06;
                margin-left: .5rem;
                transition: all .1s ease-in;
                &:hover {
                    background-color: #f68a06;
                    color: #fff;
                }
            }
        }
    }

    .joblist_section {        
        display: flex;        
        height: calc(100% - 4rem);     
        margin-top: .5rem;  
        background-color: #fff;   
        border: 1px solid #ddd;
        border-radius: .2rem;
        
        .list {
            flex: 1;            
            overflow-y: auto;

            ul {                       
                .list_item {
                    display: flex;
                    gap: 1rem;                    
                    padding: .5rem;                    
                    position: relative;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;

                    &:hover {
                        cursor: pointer;
                    }
                    
                    &.current {
                        border: 1px solid #f68a06;
                        background-color: rgba(246,138,6,.2);
                    }
                    &:first-child {
                        border-top: 1px solid transparent;

                        &.current {
                            border: 1px solid #f68a06;                            
                        }
                    }
                    &:last-child {
                        border-bottom: 1px solid transparent;

                        &.current {
                            border: 1px solid #f68a06;                        
                        }
                    }

                    .image_wrapper {
                        max-width: 3rem;
                    }
                    span {
                        position: relative !important;
                        img {
                            position: relative !important;
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }

                    .job_info {
                        display: flex;
                        flex-flow: column;
                        .job_title {
                            font-size: 1rem;
                            margin-bottom: .3rem;
                            color: #f68a06;
                        }
                        span {
                            margin-bottom: .2rem;
                        }
                        .company {
                            color: #333;
                        }
                        .location_commute {
                            color: #666;
                        }
                        .pay {
                            color: #666;
                            font-size: .8rem;
                        }
                        .post_date {
                            color: #666;
                            font-size: .8rem;
                        }
                    }

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top: .5rem;
                        right: .5rem;
                        color: #f68a06;
                    }
                }
            }
        }
        .preview {
            flex: 1.5;            
        }
    }
}
