.search_box {    
    width: 80%;
    flex: 7;    

    &.page_jobs {
        .search_wrapper {
            .input_wrapper, .location_select, .search_submit {
                height: 2.5rem;
                .search_input {              
                    height: 2.5rem;
                }
            }
        }        
    }

    .search_wrapper {
        height: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;                        
        
        .input_wrapper {
            position: relative;
            width: 100%;    
            box-shadow: 0px 5px 10px -6px #000000;
            
            label {
                height: 100%;
                width: 3rem;              
                position: absolute;
                left: .0;            
                top: 0;
                padding: .5rem;
                svg {
                    width: 2rem;
                    height: 2rem;
                    color: #f68a06;                          
                }
            }
            
            .search_input {  
                width: 100%;                                    
                padding: .5rem 1rem .5rem 3rem;                    
                font-size: 1.2rem;
                border: 1px solid #aaa;
                border-radius: .2rem;
                height: 3rem;
            }
        }
        

        .location_select {            
            padding: .5rem;                    
            font-size: 1rem;
            border: 1px solid #aaa;
            border-radius: 0;
            height: 3rem;
            box-shadow: 0px 5px 10px -6px #000000;
            max-width: fit-content;
        }

        .search_submit {            
            padding: .5rem 1rem;                    
            font-size: 1.2rem;
            background: #f68a06;
            color: #fff;
            border: none;
            border-radius: .2rem;
            height: 3rem;
            cursor: pointer;
            transition: all .1s ease-in;     
            position: relative;
            box-shadow: 0px 5px 10px -6px #000000;
                
            &::after {
                content: "";
                background-color: #000;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.1s ease-in;
            }   
            &:hover {
                &::after {          
                    opacity: .1;     
                }
            }
        }        
    }    
}