.trending_new {
    margin-top: 3rem;

    .listing_tab {
        padding: 0;   
        display: flex;        
        align-items: center;
        gap: 2rem;
        height: 100%;
        position: relative;
        border-bottom: 1px solid #ddd;

        .tab {            
            height: 100%;
            cursor: pointer;
            border-bottom: 3px solid transparent;                    
            transition: all .2s ease;                 

            &:hover {
                border-bottom: 3px solid #f68a06;
            }
            &.current {
                border-bottom: 3px solid #f68a06;
            }

            button {
                height: 100%;
                display: flex;
                align-items: center; 
                font-size: 1.5rem;        
                background: none;
                border: none;             
                padding: .5rem .2rem;   
                cursor: pointer;                
            }   
        }
    }

    .listing_grid {
        display: flex;
        
        .listing {
            flex: 1;

            &:first-child {                
                padding-right: 1rem;
            }
            &:last-child {
                border-left: 1px solid #ddd;
                padding-left: 1rem;
            }

            h3 {
                margin: 0 0 1rem;
            }
            ul {
                li {                    
                    padding: .5rem 0;                    
                    border-bottom: 1px solid #ddd;         
                    
                    &:hover {
                        color: #f68a06;
                        .post_flex {
                            .flex_left {
                                .job_company {
                                    color: #f68a06;
                                }                             
                            }
                            .flex_right {
                                .post_date {
                                    color: #f68a06;
                                }
                            }
                        }
                    }

                    .post_flex {
                        display: flex;
                        justify-content: space-between;

                        .post_views {
                            width: 2.2rem
                        }
                        .flex_left {
                            flex: 70%;
                            display: flex;
                            align-items: center;
                            
                            .job_company {
                                color: #444;

                            }
                            .post_title {
                                overflow: hidden;
                                max-width: 30ch;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                max-width: 17rem;
                            }      
                        }
                        
                        .flex_right {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;


                            &.housing {
                                flex: 30%;
                            }

                            .house_area {
                                flex: 1;
                            }
                            .post_date {
                                font-size: .8rem;
                                color: #888;
                            }
                            
                        }
                        
                    }
                    
                    
                }
            }
        }
    }
}